{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

<form action="{{ url_for('fn_save_listtodo') }}" method="post">
    <div class="container" style="max-width: 1293px;">
        <div class="row">
            <div class="col header-col1">
                <a class="btn btn-primary float-right btn-home" style="background-color: #1A1A40; border: none; font-family: 'Montserrat'; font-size: 12px;font-weight: bold;" href="{{ url_for('fn_home') }}"><i class="fa-solid fa-house-user"></i></i> COME BACK HOME</a>
            </div>
        </div>
        <div class="row div-tasktodo-main">
            <h1 id="id-task-todo"> <i class="fa-solid fa-list-check"></i> Management My List To DO </h1>
        </div>
        <div class="row">
                 <a class="btn btn-primary float-right btn-add" style="background-color: #1A1A40; border: none; font-family: 'Montserrat'; font-size: 12px;font-weight: bold;" href="{{ url_for('fn_save_listtodo') }}"> <i class="fa-solid fa-circle-plus"></i> Add a List</a>
        </div>
         <div class="row div-manage-lists ">
             {% for idx in range(db_data_listtodo|length): %}
                <div style="padding-right: 12px;">
                  <ul class="lists ul-list">
                      <li > <a class="btn-list" href="{{ url_for('fn_show_taskstodo', wlist_id=db_data_listtodo[idx].list_id, wlist_name=db_data_listtodo[idx].list_name) }}">{{ db_data_listtodo[idx].list_name }}</a>
                        <div class="img-x"><span class="total-tasks">{{ db_data_listtodo[idx].task_count }} </span>  <a href="{{ url_for('fn_delete_listtodo',wlist_id=db_data_listtodo[idx].list_id) }}"> <i class="fa-solid fa-xmark"></i></a> </div>
                     </li>
                  </ul>
                </div>
             {% endfor %}
        </div>
    </div>
</form>

{% endblock %}

</body>
</html>
